# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
dist/
build/
*.spec

# Instalador generado
installer/*.exe

# Sesion del usuario (se crea al ejecutar)
config/session.json

# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
